.container {
    padding: 20px;
    font-family: Arial, sans-serif;
}


.banner {
  height: 300px;
  background-image: url('../assets/banner.jpg'); /* caminho da imagem */
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.7);
}

.banner-content {
  text-align: center;
}