.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #345eaf;
  color: white;
  padding: 5px 20px;
  font-family: Arial, sans-serif;
}

.logo-img {
  height: 90px; /* ajusta conforme necessário */
  object-fit: contain;
}


.nav-links a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 16px;
}

.nav-links a:hover {
  text-decoration: underline;
}

.cart {
  position: relative;
  font-size: 24px;
  cursor: pointer;
}

.cart-count {
  position: absolute;
  bottom: -8px;
  right: -10px;
  background-color: red;
  color: white;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
}
